@charset "UTF-8";

/* Geral */
body {
    font-family: 'Arial' 'sans-serif';
}

.row {
    margin: 0;
}

.container {
    padding: 70x 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
    background-color: black;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: aqua;
    font-size: large;
}
#navbar-links a:hover {
    color: goldenrod;
    font-size: xx-large;
}

.navbar-expanded-lg .navbar-top .nav-link {
    padding: 1rem .8rem;
}

/* Slide principal */

.container-fluid {
    padding: 0;
}

#centerSlide {
    margin-bottom: 20px;
}

#centerSlide .carousel-inner, #centerSlide .carousel-item{
    height: 90vh;
}

#centerSlide .carousel-item .color-to-black {
    color: black;
}

#centerSlide .carousel-caption {
    top: 22%;
}

#centerSlide .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#centerSlide .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

#centerSlide .carousel-caption a {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 100px;
    color: #FFF;
}

.main-btn {
    background-color: aqua;
    color:#FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: goldenrod;
    background-color: transparent;
    border-color: turquoise;
}

.carousel-indicators .active {
    background-color: aqua;
}

/* Área "Sobre" */
.about {
    background-color: darkgray;
}

.section-title::before {
    content: "";
    border-top: 7px solid #333;
    width: 50%;
    position: absolute;
    bottom: 60px;
    left: 26.5%;
}

.section-title {
    color: black;
    background-color: darkorange;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}

.section-title::after {
    content: "";
    border-top: 7px solid #333;
    width: 50%;
    position: absolute;
    top: 60px;
    left: 26.5%;
}

/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box:hover > i, .service-box:hover > h4{
    color: darkorange;
    font-size: 36px;
}

.card-body {
    text-align: center;
}

.card-img-top {
    width:255px;
    height:350px;
}

/* Team */
#about-team {
    text-align: center;
    display: block;
    height: auto;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
    border-color: black;
}

/* Portfolio */

#filter-btn-painel {
    margin-bottom: 40px;
}

#portfolio .col-md-4 {
    color: white;
    font-size: large;
}

#portfolio .col-md-4:hover {
    font-size: xx-large;
    color: goldenrod;
}

#portfolio .container {
    margin-bottom: 40px;
}

.partner-img {
    margin: 50px 50px;
}

.partner-img:hover {
    height: 180px;
}

.about-title {
    text-align: center;
}

.col-md-6 {
    text-align: center;
}
 
#team .row .col-12 {
    margin-bottom: 40px;
}
@media(max-width: 778px) {
    .container {
        padding: 20px 20px;
    }

    #centerSlide .carousel-inner, #centerSlide .carousel-item {
        height: auto;
    }

    #centerSlide .carousel-caption h2 {
        font-size: 25px;
        margin-bottom: 40px;
    }

    #about img {
        margin-top: 100px;
    }

    .main-btn {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media(max-width: 490px) {
    #centerSlide {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    #centerSlide .carousel-caption {
        top:5%
    }

    #centerSlide .carousel-caption h2 {
        font-size: 28px;
        margin-top: 40px;
    }
    #centerSlide .carousel-caption p {
        display: none;
    }

    #centerSlide .carousel-caption .main-btn {
        font-size: 80%;   
    }

    #about img {
        margin-top: 0px;
    }

    #portfolio .col-md-4 {
        font-size: 28px;
        margin-bottom: 40px;
    }
}

/* Parallax */
#about-img-pllx {
    background-image: url("../img/backgrounds/pexels-photo-3184431.jpg");
    height: 500px;
    width: 333px;
    background-attachment: fixed;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: auto;
}

#portfolio {
    background-image: url("../img/backgrounds/pexels-fauxels-3184454.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: auto;
}